<h1>My tasks</h1>

<div class="d-flex flex-column border-bottom pb-4 mt-3">
  <% @tasks.each do |task| %>
    <div class="d-flex">
      <%= simple_form_for task do |f| %>
        <%= f.input_field :completed, as: :boolean %>
      <% end %>
      <%= link_to task.title, task_path(task), class: "mx-2" %>
      <%= link_to (fa_icon "trash"), task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
</div>

<div class="mt-4 mx-2">
  <%= link_to tasks_new_path do %>
    <%= fa_icon "plus" %>
    <%= "Add a new task" %>
  <% end -%>
</div>
